@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

/* optional global styles */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

@layer components {
  .input {
    @apply border p-3 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-teal-500;
  }
}